.top {
  margin: 20px 20px 20px 20px;
}

#my-logo {
  max-width: 150px;
  max-height: 150px;
  width: 18%;
  min-width: 80px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity 2.0s ease-in;
}

#my-logo.fade {
  opacity: 0.9;
}

.main-container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

#nav-bar {
  width: 100%;
  font-family: 'Sunflower', sans-serif;
  font-weight: 500;
  overflow: hidden;
  background-color: white;
  z-index: 1;
}

.mynav {
  padding-bottom: 0;
}

.my-name {
  font-size: 45px;
}

.menu-item {
  font-size: 18px;
  color: grey;
}

.nav-btn {
  height: 45px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 75%;
}

.gen-frame {
  top: 0;
  position: relative;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  padding: 36px 16px 8px 16px;
}

.paragraph {
  font-size: 18px;
}

.fb {
  font-weight: bold;
  color: #3b5998;
}

.cb {
  font-weight: bold;
  color: #00B0DA;
}

.csm {
  font-weight: bold;
  color: #66BB6A;
}

#link:hover {
  font-weight: bold;
  color: grey;
}

.portrait {
  max-width: 230px;
  min-width: 180px;
  width: 90%;
  margin: 0 auto;
  display: block;
  opacity: 0.85;
  margin-bottom: 20px;
  box-shadow: 4px 4px 1px #b9b9b9;
}

.subtitle {
  font-family: 'Sunflower', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #696969;
}

.proj-section {
  margin-top: 30px;
  text-align: center;
}

.proj-item {
  font-size: 14px;
  width: 310px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
}

.middle-item {
  margin-right: 30px;
  margin-left: 30px;
}

.embedded {
  height: 1000px;
  display: block;
}

.download {
  display: none;
  text-align: center;
}

#resume-embed {
  width: 100%;
  height: 100%;
  border: none;
}

.resume {
  color: #7e7e7e;
  font-weight: bold;
}

.resume:hover {
  color: #151515;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  color: #2d2d2d;
}

.footer {
  position: relative;
  margin-top: 120px;
  height: 100px;
  line-height: 50px;
}

#divider-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d3d3d3;
  margin: 0px 16px 0px 16px;
}

.icon-row {
  margin-top: 16px;
  display: inline-block;
}

.icon-link {
  text-decoration: none;
}

.icon-link:hover {
  text-decoration: none;
}

.hover-opacity {
  color: #b8b8b8;
  margin-right: 10px;
  margin-left: 10px;
}

.mail:hover {
  color: #c71610;
}

.git:hover {
  color: black;
}

.linkedin:hover {
  color: #0077b5;
}

.fb:hover {
  color: #3b5998;
}

@media screen and (max-width: 900px){
  .embedded {
    height: 550px;
    display: block;
  }
}

@media screen and (max-width: 640px){
  .my-name {
    font-size: 36px;
  }
  .main-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }
  .proj-item {
    font-size: 14px;
    width: 260px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
    color: #2d2d2d;
  }
}

@media screen and (max-width: 480px){
  .my-name {
    font-size: 30px;
  }
  .embedded {
    display: none;
  }
  .download {
    display: block;
  }
}
